ifs-solver/src/main/resources/input/CAES-2020-Sem1-Wvl/~$Courses.xlsx
ifs-solver/src/main/resources/input/CAES-2020-Sem1-Wvl/~$Students.xlsx
ifs-solver/src/main/resources/~$CoursesInputTemplate.xlsx
ifs-solver/src/main/resources/~$StudentsInputTemplate.xlsx
